.footer {
    display: flex;
    justify-content: center;
    align-self: center;
    padding-top: 39px;
    padding-bottom: 65px;
    background: #161515;
}

@media (max-width: 991px) {
    .footer {
    }
}