.models {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 130px;
    &__title {
        font-size: 55px;
        font-weight: 500;
        color: #8D9BAE;
        text-transform: uppercase;
        
        &-wrapper {
            max-width: 1180px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            margin-bottom: 40px;
        }
    }
    &__card {
        display: flex;
        justify-content: space-between;
        &-list {
            display: flex;
            flex-direction: column;
            // align-items: center;
            gap: 130px;
            max-width: 1180px;
            width: 100%;
        }
        &-left {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background: url(../../img/model-card-logo.png) no-repeat;
            background-size: contain;
            background-position: center;
            max-width: 530px;
            width: 100%;
            .models-swiper {
                max-width: 500px;
                .swiper-slide {
                    img {
                        height: 100%;
                        width: 100%;
                    }
                }
            }
            &__car-name {
                font-size: 40px;
                font-weight: 600;
                color: #1B365D;
                margin-bottom: 49px;
                span {
                    color: #1B365D80;
                }
            }
        }
        &-right {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;
            max-width: 582px;
            &__upper {
                display: flex;
                justify-content: space-between;
            }
            &__count {
                background: #87B1C7;
                height: 29px;
                font-size: 16px;
                font-weight: 400;
                color: #fff;
                border-radius: 21px;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0 16px;
            }
            &__swiper {
    
                &-pagination {
                    display: flex;
                    position: unset;
                    width: auto;
                    gap: 3px;
                    color: #8D9BAE;
                }
    
                &-nav {
                    display: flex;
                    align-items: center;
                    position: relative;
                    justify-content: center;
                    height: 20px;
                    gap: 10px;



                    .swiper-button-next,
                    .swiper-button-prev {
                        position: unset;
                        margin-top: 0;
                        color: #8D9BAE;
                        --swiper-navigation-size: 14px;
                    }
                }
    
            }
            &__car-name {
                font-size: 24px;
                font-weight: 600;
                color: #06264AC7;
                text-transform: uppercase;
            }
            &__benefits {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                row-gap: 40px;
                &-item {
                    display: flex;
                    flex-direction: column;
                    flex-basis: 46%;
                    &__svg {
                        width: 25px;
                        height: 25px;
                        margin-bottom: 10px;
                    }
                    &__text {
                        font-size: 20px;
                        font-weight: 400;
                        color: #002C5F;
                        margin-bottom: 5px;
                    }
                    &__small {
                        font-size: 14px;
                        font-weight: 400;
                        color: #1B365D59;
                    }
                }
            }
            &__btns {
                display: flex;
                justify-content: space-between;

                &-stock {
                    max-width: 277px;
                    width: 100%;
                    height: 63px;
                    border: 1px solid #87B1C7;
                    border-radius: 66px;
                    padding: 0 27px;
                    background: transparent;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    position: relative;
                    &__text {
                        color: #1C3962;
                        font-size: 20px;
                        font-weight: 400;
                    }
                    &__svg {
                        width: 36px;
                        height: 36px;
                        // position: absolute;
                    }
                }
                &-reserve {
                    max-width: 277px;
                    width: 100%;
                    height: 63px;
                    border: none;
                    background: linear-gradient(180deg, #1B365D 0%, #418FDE 191.58%);
                    border-radius: 66px;
                    padding: 0 27px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    position: relative;
                    &__text {
                        color: #fff;
                        font-size: 20px;
                        font-weight: 400;
                    }
                    &__svg {
                        width: 36px;
                        height: 36px;
                        // position: absolute;
                    }
                }
            }
        }
        &-car {
            display: flex;
            justify-content: center;
            align-items: center;
            max-width: 500px;
            width: 100%;
            margin-bottom: 42px;
            &-img {
                height: 100%;
                width: 100%;
            }
        }
        &__price {
            &-list {
                display: flex;
                justify-content: space-between;
                gap: 70px;
                &__left {
                    display: flex;
                    flex-direction: column;
                    // justify-content: space-between;
                    gap: 12px;
                }
                &__right {
                    display: flex;
                    flex-direction: column;
                    // justify-content: space-between;
                    gap: 18px;
                }
            }
            &-old {
                font-size: 16px;
                font-weight: 500;
                color: #8D9BAE;
                text-decoration: line-through;
            }
            &-current {
                font-size: 24px;
                font-weight: 500;
                color: #1B365D;
                span {
                    font-size: 40px;
                    color: #1B365D;
                }
            }
            &-credit {
                font-size: 24px;
                font-weight: 500;
                color: #1B365D;
                text-decoration: underline;
                &-title {
                    font-size: 16px;
                    font-weight: 500;
                    color: #8D9BAE;
                }
            }
        }
    }
}

@media (max-width: 991px) {
    .models {
        margin-top: 60px;
        &__title {
            font-size: 30px;
        }
        &__card {
            &-list {
                padding: 0 20px;
                gap: 80px;
            }
            flex-direction: column;
            &-left {
                background-position: 0% 20%;
                &__car {
                    &-name {
                        font-size: 26px;
                        margin-bottom: 6px;
                    }
                }
                &__second {
                    &-name {
                        color: #06264AC7;
                        font-size: 14px;
                        text-transform: uppercase;
                    }
                }
                &__count {
                    font-size: 12px;
                    font-weight: 400;
                    position: absolute;
                    top: 0;
                    right: 0;
                    background: #87B1C7;
                    height: 24px;
                    color: #fff;
                    border-radius: 21px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 0 16px;
                }
            }
            &-right {
                &__swiper-nav {
                    justify-content: start;
                }
                &__benefits {
                    row-gap: 25px;
                    margin-bottom: 45px;
                    &-item {
                        gap: 5px;
                        &__text {
                            font-size: 16px;
                        }
                        &__small {
                            font-size: 12px;
                        }
                    }
                }
                &__btns {
                    flex-direction: column;
                    gap: 7px;
                    &-stock {
                        max-width: none;
                        height: 50px;
                        &__text {
                            font-size: 14px;
                        }
                    }
                    &-reserve {
                        max-width: none;
                        height: 50px;
                        &__text {
                            font-size: 14px;
                        }
                    }
                }
            }
            &__price {
                &-list {
                    flex-direction: column;
                    gap: 0px;
                    margin-bottom: 25px;
                    &__left {
                        gap: 0px;
                    }
                }
                &-current {
                    font-size: 32px;
                    span {
                        font-size: 32px;
                    }
                }
                &-credit {
                    font-size: 12px;
                    span {
                        text-decoration: underline;
                    }
                }
                &-old {
                    font-size: 10px;
                }

            }
            &-car {
                margin-bottom: 32px;
                margin-top: 66px;
            }

        }
    }
}