.projects {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 130px;
    &__wrapper {
        display: flex;
        flex-direction: column;
    }
    &__title {
        font-size: 48px;
        font-weight: 600;
        color: #fff;
        text-transform: uppercase;
    }
    &__tabs {
        display: flex;
        align-items: center;
        justify-content: end;
        padding-bottom: 7px;
        border-bottom: 1px solid #6c6c6c;
        &-item {
            padding: 15px;
            background: transparent;
            border: 1px solid #C4C4C4;
            border-bottom: none;
            border-right: none;
            color: #6C6C6C;
            font-size: 18px;
            font-weight: 400;
            cursor: pointer;
            transition: all .4s ease-in-out;
            &:nth-last-child(1) {
                border-right: 1px solid #C4C4C4;
            }
            &.active {
                color: #000;
                background: #E5E5E5;
            }
            &:hover {
                background: #E5E5E5;
                color: #000;
            }
        }
    }
    &__cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        gap: 30px;
        align-items: center;
        width: 100%;
        margin-top: 50px;
        row-gap: 30px;
        &-item {
            display: flex;
            flex-direction: column;
            width: 23%;
            transition: opacity 0.3s, transform 0.3s;
            &:nth-child(1) {
                width: 48%;
            }
            &:nth-child(2) {
                width: 48%;
            }
            &-img {
                width: 100%;
            }
            &--hidden {
                display: none !important; /* На этот раз !important оправдан */
                opacity: 0;
                transition: opacity 0.3s ease;
            }
            &--filtered {
                display: none !important;
            }
            &.hide {
                display: none;
            }
            &.hidden-initially {
                display: none;
                opacity: 0;
                transition: opacity 0.3s ease;
            }
            &-info {
                margin-top: 15px;
                margin-bottom: 5px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                &-title {
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 100%;
                    text-transform: uppercase;
                    color: #fff;
                }
                &-tag {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 100%;
                    letter-spacing: -2%;
                    color: #A0A0A0;
                    border: 1px solid #A0A0A0;
                    border-radius: 30px;
                    padding: 5px 10px;
                }
            }
            &-more {
                font-weight: 400;
                font-size: 18px;
                line-height: 100%;
                letter-spacing: -2%;
                text-decoration: underline;
                text-decoration-style: solid;
                text-decoration-offset: 0%;
                text-decoration-thickness: 0%;
                color: #A0A0A0;
                cursor: pointer;
                &:hover {
                    color: #9CAEFF;
                }
            }
        }
    }
    &__showmore {
        display: none;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
        max-width: 990px;
        width: 100%;
        height: 50px;
        font-weight: 400;
        font-size: 18px;
        line-height: 100%;
        letter-spacing: -2%;
        color: #000;
        align-self: center;
        background: #fff;
        border: none;
        transition: background 0.3s;
        &:hover {
            background: #ffffffe6;
        }
    }
}

@media (max-width: 991px) {
    .projects {
        margin-bottom: 60px;
        &__title {
            font-size: 24px;
        }
        &__tabs {
            padding-bottom: 0;
            margin-top: 20px;
            border-bottom: none;
            justify-content: center;
            &-item {
                height: 42px;
                font-size: 12px;
            }
        
        }
        &__cards {
            margin-top: 20px;
            &-item {
                width: 100%;
                &:nth-child(1) {
                    width: 100%;
                }
                &:nth-child(2) {
                    width: 100%;
                }
                &-info {
                    &-title {
                        font-size: 16px;
                    }
                    &-tag {
                        font-size: 12px;
                    }
                }
                &-more {
                    font-size: 16px;
                }
            }
        }
    }
}