.timer {
    display: flex;
    justify-content: space-between;
    gap: 25px;
}

.time-count__item {
    /* width: 90px; */
    display: flex;
    flex-flow: column;
    align-items: center;
    position: relative;
}

.time-count__val {
    font-weight: 500;
    font-size: 40px;
    line-height: 1;
    color: #fff;
}

.time-count__text {
    font-weight: 400;
    font-size: 17px;
    line-height: 1;
    margin-top: 5px;
    color: #fff;

}

.timer-points {
    font-size: 27px;
    color: #fff;
}

.pie {
    display: block;
    width: 135px;
    height: 135px;
    border-radius: 50%;
    transform: rotate(-90deg);
    position: absolute;
    bottom: -36px;
    left: -22px;
    /* z-index: -1; */
}

.background {
    fill: none;
    stroke: #F0F0F0;
    stroke-width: 15;
}

.chart {
    fill: none;
    stroke: #54DBDD;
    stroke-width: 15;
}

@media screen and (max-width: 1400px) {
    .timer {
        margin: 0;
        gap: 3vw;
    }

    .time-count__item {
        width: 74px;
    }

    .time-count__val {
        font-size: 44px;
    }

    .time-count__text {
        font-size: 12px;
    }

    .pie {
        width: 100px;
        height: 100px;
        left: -12px;
        bottom: -20px;
    }
}

@media screen and (max-width: 992px) {
    .time-count__item {
        width: 35px;
    }

    .time-count__val {
        font-size: 24px;
    }

    .time-count__text {
        font-size: 8px;
    }

    .pie {
        width: 70px;
        height: 70px;
        left: -18px;
        top: -16px;
    }
}