.btn-bg {
	/* background: linear-gradient(to left, #fff 50%, #000 50%) right;
	background-size: 200%; */
	-webkit-transition: 0.5s ease-out;
	transition: 0.5s ease-out;
}

.btn-bg:hover {
    /* background-position: left; */
} 


/* .btn-bg {
    color: #fff;
    cursor: pointer;
    font-size:16px;
    font-weight: 400;
    line-height: 45px;
    margin: 0 0 2em;
    max-width: 160px; 
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%; 

    border: 1px solid;
    overflow: hidden;
    position: relative;
}
.btn-bg span {
  z-index: 20;
}

.btn-bg:after {
  background: #000;
  content: "";
  height: 155px;
  left: -75px;
  opacity: .2;
  position: absolute;
  top: -50px;
  transform: rotate(35deg);
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  width: 50px;
  z-index: -10;
}
  
.btn-bg:hover:after {
    left: 120%;
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
} */