@import url(/assets/fonts/SFPro/stylesheet.css);

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "SF Pro";
  border: 1px solid red;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #242323;
}

section {
  overflow: hidden;
}

main {
  overflow: hidden;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1500px;
  width: 100%;
}

@media (max-width: 1500px) {
  .container {
    max-width: 1180px;
  }
}

@media (max-width: 1180px) {
  .container {
    max-width: 1024px;
  }
}

@media (max-width: 1024px) {
  .container {
    max-width: 991px;
  }
}

@media (max-width: 991px) {
  .container {
    max-width: 768px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }
}

@media (max-width: 540px) {
  .container {
    max-width: 420px;
    padding: 0 20px;
  }
}



.js-scroll {
    background: rgba(34, 34, 34, 0.6549019608);
    box-shadow: 0 0 36px rgba(0, 0, 0, 0.6117647059);
    backdrop-filter: blur(10px);
    /* border-bottom: 1px solid #FFFFFF3D; */
}

.js-scroll .header-contacts {
    margin-top: -39px;
    transition: all .4s ease-in-out;
}

.blur {
    filter: blur(4px);
    transition: all 0.4s;
}

textarea:focus,
input:focus {
  outline: none;
}

.padding {
  padding: 0;
}

.hidden {
  display: none;
}

.mob__hide {
  display: flex;
}

.desk__hide {
  display: none;
}

@media (max-width: 991px) {
  .mob__hide {
    display: none;
  }

  .desk__hide {
    display: flex;
  }

  .js-scroll .header-contacts {
    margin-top: 0px;
}
}