@import './blocks/header.scss';
@import './blocks/home.scss';
@import './blocks/profits.scss';
@import './blocks/photos.scss';
@import './blocks/projects.scss';
@import './blocks/footer.scss';
@import './blocks/modal.scss';
@import './buttons.scss';
@import './general.scss';