.instock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}
.instock__title {
  font-size: 55px;
  font-weight: 500;
  color: rgba(27, 54, 93, 0.6);
  text-transform: uppercase;
}
.instock__title-wrapper {
  max-width: 1180px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.instock__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-top: 40px;
  max-width: 1180px;
}
.instock__list-filter {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.instock__list-filter .ss-main {
  border-radius: 61px;
  max-width: 380px;
  height: 43px;
  width: 100%;
  padding: 0 21px;
}
.instock__list-filter .ss-main .ss-placeholder {
  color: #8D9BAE;
}
.instock__list-filter .ss-main .ss-arrow {
  --ss-font-color: #8D9BAE;
}
.instock__list-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 20px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.instock__list-card {
  max-width: 280px;
  width: 100%;
  height: 421px;
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid #DFE6EC;
}
.instock__list-card .instock-swiper {
  max-width: 280px;
  height: 196px;
}
.instock__list-card .instock-swiper .swiper-slide {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.instock__list-card .instock-swiper .swiper-slide img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.instock__list-card .instock-swiper .swiper-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.instock__list-card .instock-swiper .swiper-pagination-bullet {
  background: #fff;
  opacity: 1;
  width: 6px;
  height: 6px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.instock__list-card .instock-swiper .swiper-pagination-bullet-active {
  width: 10px;
  height: 10px;
  background: transparent;
  position: relative;
  border: 1px solid #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.instock__list-card .instock-swiper .swiper-pagination-bullet-active::before {
  content: "";
  display: block;
  background: #fff;
  width: 6px;
  height: 6px;
  border-radius: 100%;
}
.instock__list-card-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 8px;
  padding: 0 8px;
}
.instock__list-card-about__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.instock__list-card-about__left-title {
  font-size: 20px;
  font-weight: 600;
  color: #1B365D;
}
.instock__list-card-about__left-subtitle {
  font-size: 20px;
  font-weight: 400;
  color: #8D9BAE;
}
.instock__list-card-about__left-equip {
  font-size: 10px;
  font-weight: 400;
  color: #8D9BAE;
}
.instock__list-card-about__colors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.instock__list-card-about__colors-item {
  background: linear-gradient(135deg, #EDEDED 22.5%, #FFFFFF 48.75%, #CACACA 75%);
  width: 28px;
  height: 28px;
  border: none;
  border-radius: 100%;
}
.instock__list-card-params {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  margin-top: 16px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 8px;
}
.instock__list-card-params__item {
  border: 1px solid #DFE6EC;
  padding: 0 12px;
  border-radius: 23px;
  font-size: 10px;
  font-weight: 400;
  color: #8D9BAE;
}
.instock__list-card-prices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 29px;
  margin-top: 16px;
  padding: 0 8px;
}
.instock__list-card-prices__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.instock__list-card-prices__left-old {
  font-size: 10px;
  font-weight: 500;
  text-decoration: line-through;
  color: #8D9BAE;
  margin-bottom: 4px;
}
.instock__list-card-prices__left-current {
  font-size: 20px;
  font-weight: 500;
  color: #1B365D;
}
.instock__list-card-prices__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.instock__list-card-prices__right-title {
  font-size: 10px;
  font-weight: 500;
  color: #8D9BAE;
  margin-bottom: 7px;
}
.instock__list-card-prices__right-sale {
  font-size: 16px;
  font-weight: 500;
  color: #1B365D;
  text-decoration: underline;
}
.instock__list-card-button {
  margin: 0 8px;
  margin-bottom: 16px;
  background: -webkit-gradient(linear, left top, left bottom, from(#1B365D), color-stop(191.58%, #418FDE));
  background: linear-gradient(180deg, #1B365D 0%, #418FDE 191.58%);
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  max-width: 263px;
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 51px;
  text-align: center;
  margin-top: 16px;
}
.instock__list-showmore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-top: 40px;
}
.instock__list-showmore__btn {
  border: 1px solid #11648E;
  border-radius: 49px;
  max-width: 265px;
  width: 100%;
  height: 53px;
  background: transparent;
  font-size: 16px;
  font-weight: 400;
  color: #11648E;
}

@media (max-width: 991px) {
  .instock__title {
    font-size: 30px;
  }
  .instock__list {
    margin-top: 40px;
    padding: 0 20px;
  }
  .instock__list-filter {
    margin-top: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
  .instock__list-cards {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .instock__list-card {
    max-width: none;
    height: auto;
  }
  .instock__list-card-about {
    padding: 0 15px;
  }
  .instock__list-card .instock-swiper {
    max-width: none;
  }
  .instock__list-card .instock-swiper .swiper-pagination {
    right: 25px;
  }
  .instock__list-card-params__item {
    padding: 4.5px 9px;
  }
  .instock__list-card-prices {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 8px;
  }
  .instock__list-card-prices__right {
    margin-right: 19px;
  }
  .instock__list-card-button {
    max-width: none;
    padding: 0 8px;
    margin-left: 0;
    margin-right: 0;
  }
  .instock__list-card__right-sale {
    color: #8D9BAE;
  }
}