.models {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-top: 130px;
}
.models__title {
  font-size: 55px;
  font-weight: 500;
  color: #8D9BAE;
  text-transform: uppercase;
}
.models__title-wrapper {
  max-width: 1180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-bottom: 40px;
}
.models__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.models__card-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 130px;
  max-width: 1180px;
  width: 100%;
}
.models__card-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: url(../../img/model-card-logo.png) no-repeat;
  background-size: contain;
  background-position: center;
  max-width: 530px;
  width: 100%;
}
.models__card-left .models-swiper {
  max-width: 500px;
}
.models__card-left .models-swiper .swiper-slide img {
  height: 100%;
  width: 100%;
}
.models__card-left__car-name {
  font-size: 40px;
  font-weight: 600;
  color: #1B365D;
  margin-bottom: 49px;
}
.models__card-left__car-name span {
  color: rgba(27, 54, 93, 0.5019607843);
}
.models__card-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 582px;
}
.models__card-right__upper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.models__card-right__count {
  background: #87B1C7;
  height: 29px;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  border-radius: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 16px;
}
.models__card-right__swiper-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: unset;
  width: auto;
  gap: 3px;
  color: #8D9BAE;
}
.models__card-right__swiper-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 20px;
  gap: 10px;
}
.models__card-right__swiper-nav .swiper-button-next,
.models__card-right__swiper-nav .swiper-button-prev {
  position: unset;
  margin-top: 0;
  color: #8D9BAE;
  --swiper-navigation-size: 14px;
}
.models__card-right__car-name {
  font-size: 24px;
  font-weight: 600;
  color: rgba(6, 38, 74, 0.7803921569);
  text-transform: uppercase;
}
.models__card-right__benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: 40px;
}
.models__card-right__benefits-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 46%;
      flex-basis: 46%;
}
.models__card-right__benefits-item__svg {
  width: 25px;
  height: 25px;
  margin-bottom: 10px;
}
.models__card-right__benefits-item__text {
  font-size: 20px;
  font-weight: 400;
  color: #002C5F;
  margin-bottom: 5px;
}
.models__card-right__benefits-item__small {
  font-size: 14px;
  font-weight: 400;
  color: rgba(27, 54, 93, 0.3490196078);
}
.models__card-right__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.models__card-right__btns-stock {
  max-width: 277px;
  width: 100%;
  height: 63px;
  border: 1px solid #87B1C7;
  border-radius: 66px;
  padding: 0 27px;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}
.models__card-right__btns-stock__text {
  color: #1C3962;
  font-size: 20px;
  font-weight: 400;
}
.models__card-right__btns-stock__svg {
  width: 36px;
  height: 36px;
}
.models__card-right__btns-reserve {
  max-width: 277px;
  width: 100%;
  height: 63px;
  border: none;
  background: -webkit-gradient(linear, left top, left bottom, from(#1B365D), color-stop(191.58%, #418FDE));
  background: linear-gradient(180deg, #1B365D 0%, #418FDE 191.58%);
  border-radius: 66px;
  padding: 0 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}
.models__card-right__btns-reserve__text {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
}
.models__card-right__btns-reserve__svg {
  width: 36px;
  height: 36px;
}
.models__card-car {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 500px;
  width: 100%;
  margin-bottom: 42px;
}
.models__card-car-img {
  height: 100%;
  width: 100%;
}
.models__card__price-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 70px;
}
.models__card__price-list__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
}
.models__card__price-list__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 18px;
}
.models__card__price-old {
  font-size: 16px;
  font-weight: 500;
  color: #8D9BAE;
  text-decoration: line-through;
}
.models__card__price-current {
  font-size: 24px;
  font-weight: 500;
  color: #1B365D;
}
.models__card__price-current span {
  font-size: 40px;
  color: #1B365D;
}
.models__card__price-credit {
  font-size: 24px;
  font-weight: 500;
  color: #1B365D;
  text-decoration: underline;
}
.models__card__price-credit-title {
  font-size: 16px;
  font-weight: 500;
  color: #8D9BAE;
}

@media (max-width: 991px) {
  .models {
    margin-top: 60px;
  }
  .models__title {
    font-size: 30px;
  }
  .models__card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .models__card-list {
    padding: 0 20px;
    gap: 80px;
  }
  .models__card-left {
    background-position: 0% 20%;
  }
  .models__card-left__car-name {
    font-size: 26px;
    margin-bottom: 6px;
  }
  .models__card-left__second-name {
    color: rgba(6, 38, 74, 0.7803921569);
    font-size: 14px;
    text-transform: uppercase;
  }
  .models__card-left__count {
    font-size: 12px;
    font-weight: 400;
    position: absolute;
    top: 0;
    right: 0;
    background: #87B1C7;
    height: 24px;
    color: #fff;
    border-radius: 21px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 16px;
  }
  .models__card-right__swiper-nav {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .models__card-right__benefits {
    row-gap: 25px;
    margin-bottom: 45px;
  }
  .models__card-right__benefits-item {
    gap: 5px;
  }
  .models__card-right__benefits-item__text {
    font-size: 16px;
  }
  .models__card-right__benefits-item__small {
    font-size: 12px;
  }
  .models__card-right__btns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 7px;
  }
  .models__card-right__btns-stock {
    max-width: none;
    height: 50px;
  }
  .models__card-right__btns-stock__text {
    font-size: 14px;
  }
  .models__card-right__btns-reserve {
    max-width: none;
    height: 50px;
  }
  .models__card-right__btns-reserve__text {
    font-size: 14px;
  }
  .models__card__price-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0px;
    margin-bottom: 25px;
  }
  .models__card__price-list__left {
    gap: 0px;
  }
  .models__card__price-current {
    font-size: 32px;
  }
  .models__card__price-current span {
    font-size: 32px;
  }
  .models__card__price-credit {
    font-size: 12px;
  }
  .models__card__price-credit span {
    text-decoration: underline;
  }
  .models__card__price-old {
    font-size: 10px;
  }
  .models__card-car {
    margin-bottom: 32px;
    margin-top: 66px;
  }
}