.photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 150px;
  padding-bottom: 63px;
}
.photos-wrapper {
  max-width: 1738px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.photos__img {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.photos__img:nth-child(2) {
  margin-left: -163px;
  margin-top: -106px;
  position: relative;
  z-index: 0;
}
.photos__img:nth-child(2):hover {
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
  scale: 1.05;
  z-index: 3;
}
.photos__img:nth-child(3) {
  margin-left: -150px;
  margin-bottom: -140px;
  position: relative;
  z-index: 1;
}
.photos__img:nth-child(3):hover {
  -webkit-transform: rotate(19deg);
          transform: rotate(19deg);
  scale: 1.05;
  z-index: 3;
}
.photos__img:nth-child(4) {
  margin-left: -117px;
  margin-bottom: -85px;
  position: relative;
  z-index: 2;
}
.photos__img:nth-child(4):hover {
  -webkit-transform: rotate(1deg);
          transform: rotate(1deg);
  scale: 1.05;
  z-index: 3;
}
.photos__img:nth-child(5) {
  margin-left: -117px;
  margin-bottom: -85px;
  position: relative;
  z-index: 1;
}
.photos__img:nth-child(5):hover {
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
  scale: 1.05;
  z-index: 3;
}
.photos__img:nth-child(6) {
  margin-left: -180px;
  margin-bottom: -140px;
  position: relative;
  z-index: 2;
}
.photos__img:nth-child(6):hover {
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
  scale: 1.05;
  z-index: 3;
}
.photos__img:nth-child(7) {
  margin-left: -215px;
  margin-bottom: -140px;
  position: relative;
  z-index: 1;
}
.photos__img:nth-child(7):hover {
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
  scale: 1.05;
  z-index: 3;
}