.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-top: 130px;
  margin-bottom: 130px;
}
.social__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 251px;
  max-width: 1180px;
  width: 100%;
}
.social__all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: url(../../img/banners/all-banner.png);
  background-size: cover;
  background-position: center;
  max-width: 480px;
  border-radius: 21px;
  width: 100%;
  height: 100%;
  padding: 32px;
}
.social__all-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 56px;
}
.social__all-title {
  font-size: 24px;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
}
.social__all-subtitle {
  font-size: 16px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5019607843);
  margin-top: 10px;
}
.social__all-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 6px;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.social__all-links-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 63px;
  height: 63px;
  background: #fff;
  border-radius: 6px;
}
.social__all-links-item img {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.social__all-links-item:hover img {
  scale: 1.2;
}
.social__tg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(../../img/banners/telegram-banner.png);
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  max-width: 280px;
  width: 100%;
  height: 100%;
  padding: 15px 25px;
}
.social__tg-title {
  font-size: 20px;
  font-weight: 600;
  color: rgba(33, 69, 114, 0.6);
  text-transform: uppercase;
  text-align: center;
  line-height: 22px;
}
.social__tg-btn {
  max-width: 157px;
  width: 100%;
  height: 36px;
  background: -webkit-gradient(linear, left top, left bottom, from(#1B365D), color-stop(191.58%, #418FDE));
  background: linear-gradient(180deg, #1B365D 0%, #418FDE 191.58%);
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  border: none;
  border-radius: 51px;
}
.social__yandex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #F2F8FA;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 21px;
  max-width: 380px;
  width: 100%;
  height: 100%;
  padding: 35px 33px;
  padding-bottom: 18px;
  padding-right: 56px;
}
.social__yandex-title {
  font-size: 24px;
  font-weight: 500;
  color: rgba(27, 54, 93, 0.6);
}
.social__yandex-subtitle {
  font-size: 14px;
  font-weight: 400;
  color: rgba(32, 65, 109, 0.5019607843);
  margin-top: 10px;
}
.social__yandex-rate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5px;
}
.social__yandex-rate__title {
  font-size: 98px;
  font-weight: 400;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1B365D), color-stop(191.58%, #418FDE));
  background-image: linear-gradient(180deg, #1B365D 0%, #418FDE 191.58%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: -3px;
}
.social__yandex-rate__subtitle {
  font-size: 14px;
  color: #666666;
}
.social__yandex-rate__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.social__yandex-rate__col-stars {
  height: 25px;
  max-width: 129px;
  width: 100%;
}
.social__yandex-rate__col-text {
  font-size: 10px;
  font-weight: 400;
  color: #8D9BAE;
  margin-top: 10px;
}
.social__yandex-rate__col-logo {
  width: 84px;
  height: 14px;
  margin-top: 7px;
}

@media (max-width: 991px) {
  .social {
    margin-top: 60px;
    margin-bottom: 99px;
  }
  .social__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    padding: 0 20px;
    gap: 16px;
  }
  .social__all {
    padding: 20px 30px;
    height: 180px;
  }
  .social__all-title {
    font-size: 16px;
    text-align: center;
  }
  .social__all-subtitle {
    font-size: 10px;
    color: #fff;
    text-align: center;
    line-height: 16px;
    margin-top: 6px;
  }
  .social__all-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 10px;
  }
  .social__all img {
    width: 65px;
    height: 23px;
  }
  .social__all-links {
    gap: 9px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 13px;
  }
  .social__all-links-item {
    width: 44px;
    height: 44px;
  }
  .social__all-links-item img {
    max-width: 18px;
  }
  .social__tg {
    height: 154px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    background: url(../../img/banners/telegram-banner-mob.png);
    background-size: cover;
    background-position: center;
    max-width: none;
  }
  .social__tg-title {
    font-size: 16px;
    font-weight: 600;
    text-align: start;
  }
  .social__tg-subtitle {
    font-size: 12px;
    font-weight: 500;
    color: rgba(33, 69, 114, 0.5019607843);
  }
  .social__tg-btn {
    margin-top: 16px;
  }
  .social__yandex-title {
    font-size: 16px;
    font-weight: 600;
  }
  .social__yandex-subtitle {
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    margin-top: 8px;
  }
  .social__yandex-rate {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    gap: 24px;
  }
  .social__yandex-rate__title {
    font-size: 64px;
  }
  .social__yandex-rate__col-stars {
    width: 64px;
    height: 12px;
  }
  .social__yandex-rate__col-text {
    margin-top: 2px;
  }
  .social__yandex-rate__col-logo {
    width: 84px;
    height: 14px;
    margin-left: -5px;
  }
}