.tradein {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 40px;
}
.tradein__img-wrapper {
  height: 707px;
  width: 100%;
  max-width: 1820px;
  border-radius: 20px;
  background: url(../../img/banners/banner__tradein.webp);
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 49px;
}
.tradein__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1180px;
  width: 100%;
  padding-top: 64px;
}
.tradein__title {
  font-size: 55px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 10px;
}
.tradein__subtitle {
  font-size: 24px;
  font-weight: 500;
  color: #fff;
}
.tradein__subtitle-color {
  color: rgba(255, 255, 255, 0.5607843137);
}
.tradein__benefits {
  margin-top: 62px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 90px;
  position: relative;
}
.tradein__benefits::before {
  content: "";
  display: block;
  background: url(../../img/svg/tradein-benefits.svg);
  width: 8px;
  height: 197px;
  position: absolute;
  left: 0;
}
.tradein__benefits-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
  margin-left: 34px;
}
.tradein__benefits-item__title {
  font-size: 32px;
  font-weight: 600;
  color: #fff;
}
.tradein__benefits-item__subtitle {
  font-size: 16px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6980392157);
}
.tradein__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 688px;
  width: 100%;
  -webkit-column-gap: 11px;
     -moz-column-gap: 11px;
          column-gap: 11px;
  row-gap: 25px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.tradein__form .form-input {
  background: #FFFFFF;
  max-width: 223px;
  width: 100%;
  height: 44px;
  border-radius: 61px;
  padding-left: 23px;
  font-size: 16px;
  font-weight: 400;
  color: #18668F;
  border: none;
}
.tradein__form .form-input::-webkit-input-placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #18668F;
}
.tradein__form .form-input::-moz-placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #18668F;
}
.tradein__form .form-input:-ms-input-placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #18668F;
}
.tradein__form .form-input::-ms-input-placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #18668F;
}
.tradein__form .form-input::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #18668F;
}
.tradein__form .form-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#1B365D), color-stop(191.58%, #418FDE));
  background: linear-gradient(180deg, #1B365D 0%, #418FDE 191.58%);
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  border-radius: 71px;
  border: none;
  max-width: 220px;
  width: 100%;
  height: 44px;
}
.tradein__form .form-checkbox-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  gap: 12px;
}
.tradein__form .custom-checkbox {
  width: 15px;
  height: 15px;
  background: transparent;
  border: 1px solid #fff;
  border-radius: 1px;
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.tradein__form .custom-checkbox .check {
  -webkit-filter: none;
          filter: none;
  width: 11px;
  height: 11px;
  background: #fff;
  opacity: 0;
}
.tradein__form input[type=checkbox] {
  position: absolute;
  opacity: 0;
  width: 15px;
  height: 15px;
  cursor: pointer;
}
.tradein__form input[type=checkbox]:checked + span .check {
  opacity: 1;
}
.tradein__form .form-text {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}

@media (max-width: 991px) {
  .tradein__img-wrapper {
    background: url(../../img/banners/banner__tradein-mob.png);
    height: auto;
    background-size: cover;
    background-position: top;
    margin: 0 20px;
  }
  .tradein__wrapper {
    padding-top: 257px;
    padding-top: 300px;
    margin: 0 20px;
  }
  .tradein__title {
    font-size: 30px;
  }
  .tradein__subtitle {
    font-size: 16px;
    max-width: 230px;
  }
  .tradein__benefits {
    margin-bottom: 34px;
    margin-top: 17px;
    gap: 24px;
  }
  .tradein__benefits::before {
    height: 171px;
    width: 9px;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .tradein__benefits-item__title {
    font-size: 16px;
  }
  .tradein__benefits-item__subtitle {
    font-size: 12px;
  }
  .tradein__form {
    row-gap: 10px;
    margin-bottom: 28px;
  }
  .tradein__form .form-input {
    max-width: none;
  }
  .tradein__form .form-btn {
    max-width: none;
  }
  .tradein__form .form-text {
    font-size: 10px;
    margin-top: 10px;
  }
}